@charset "utf-8";
html, body{
	margin: 0;
	text-size-adjust: 100%;
}
body{
	font-family: 'Lato', sans-serif;
	font-weight: 300; /*字型粗細*/
	line-height: 1.5; /*行高*/
	color: #333; /*字型顏色*/
}
ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
h1{
	display: block;
	text-transform: uppercase; /*文字字母的大小寫*/
	font-size: 2em; /*字型大小*/
	font-weight: 400; 
	padding-top: 260px; /*框線內側上邊界*/
	position: relative;
}
h2{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 0.8;
	padding: 20px;
}
.title{
	font-size: 1.7em;
	font-weight: 540;
}
.clip{
	background-image: linear-gradient(to right, rgb(210, 233, 233), rgb(0, 87, 87)); /*漸層色*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
}
header{
	background-image: url("../images/bg.jpg");
	background-size: cover; 
	background-position: center bottom;
	color: #333;
	text-align: center; /*對齊方式*/
	padding: 30px 0 200px; /*框線內側邊界 上 左右 下*/
	font-family: 'Montserrat', sans-serif;	
	overflow: hidden;
	clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 90%);
}
.myname{
	position: fixed;
	border: none;
	background: none;
	text-align: left;
	margin: 0 0 0 10px; /*上、右邊、下、左邊*/
	z-index: 2101;
}
.myname a{
	text-decoration: none;
	display: block;
	font-size: 250%;
	color: #333;
	font-family: 'Caveat', sans-serif;
}
.desktop_menu{
	position: fixed;
	left: 0;
	right: 0;
	height: 70px;
	z-index: 2100;
	text-align: center;
	display: block;
	margin: 10px 10px 0 0; /*上、右邊、下、左邊*/
}
.mobile_menu{
	position: fixed;
	text-align: right;
	margin: 10px 13px 0 0; /*上、右邊、下、左邊*/
	display: none;
	z-index: 2100;
}
.ham_icon{
	cursor: pointer;
}
.menu1{
	line-height: 60px;
	font-size: 20px;
	text-align: center;
	border: solid 1px;
	padding: 30px;
	background-color: #fff;
	box-shadow: 2px 20px 30px rgba(0,0,0,0.5);
}
.menu1 li{
	position: relative;  
	display: block;
	padding: 0;
}
.menu1 a{
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-family: 'Montserrat', sans-serif;	
}
.menu1 a:after{
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #333;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.menu1 a:hover:after{
	width: 100%; 
	left: 0;
}
.menu{
	display: flex;
	float: right;
	line-height: 51px;
}
.menu li{
	flex: none;
	position: relative; 
	display: table-cell; 
	padding: 0;
}
.menu a{
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-family: 'Montserrat', sans-serif;	
	display: inline-block;
	padding: 0 20px;
	position: relative;
}
.menu a:after{
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #333;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.menu a:hover:after{
	width: 100%; 
	left: 0;
}
.name{
	display: block;
    font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: 10px;
	animation: trans 1s ease;
}
.name1{
	display: block;
    font-weight: 550;
    font-size: 6rem;
    letter-spacing: 20px;
    word-spacing: 30px;
	animation: trans1 2s ease;
}
@-webkit-keyframes trans{
	0%{
		opacity: 0;
	    transform: translateX(-110px);
	}
	100%{ 
		opacity: 1;
		transform: translate(0px);
	}
}
@-webkit-keyframes trans1{
	0%{
		opacity: 0;
		transform: translateX(100px);
	}
	100%{
		opacity: 1;
		transform: translate(0px);
	}
}
#aboutme{
	background-color: #fff; 
	color: #333;
	text-align: center; 
	padding: 30px 0 150px; 
	font-family: 'Montserrat', sans-serif;	
}
.container1{
	/* width: 100%; */
    padding-left: 125px;
	padding-right: 125px;
    margin-right: auto;
    margin-left: auto;
}
.forabout{
	display: flex;
	justify-content: center;
}
.me{
	width: 30%;
	height: 30%;
	flex: none;
	border-radius: 50%;
 	transition: border-radius 0.5s ease 0s;
}
.me:hover{
	border-radius: 10%;
	transition: border-radius 0.5s ease 0s;
}
.about{
	display: flex;
	line-height: 40px;
	text-align: justify;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	margin: 40px;
}
#skills{
	background-image: linear-gradient(to right bottom, rgba(150, 202, 202, 0.8), rgba(210, 233, 233, 0.8)), url("../images/laptop.jpg");
	background-color: #fff;
	background-size: cover;
	transform: skewY(4deg);
	background-position: center bottom;	
	color: #333;
	text-align: center; 
	padding: 30px 0 300px; 
	font-family: 'Montserrat', sans-serif;
}
.list{
	display: flex;
	justify-content: center;
	margin-top: 135px;
	overflow: hidden;
	transform: skewY(-4deg);
}
.mycard{
	flex: none;
	width: 250px;
	margin: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.header{
	padding: 10px;
	font-size: 18px;
	background-color: #E8FFF5;
	border-radius: 10px 10px 0 0;
}
.text{
	padding: 28px;
}
.pic1{
	transform: translate(0,0);
	transition: transform 0.3s ease 0s;
}
.pic1:hover{
	transform: translate(0,-10px);
	overflow: hidden;
}
#portfolio{
	background-color: #fff;
	color: #333;
	text-align: center; 
	padding: 30px 0 80px; 
	font-family: 'Montserrat', sans-serif;	
}

.slideshow {
	position: relative;
	transition: 2s;
	user-select: none;
	margin: 0 auto;
    width: 65%;
    height: 65%;
  }

.forimg{
	transition: 0.5s;
}
.forimg:hover{
	transition: 0.5s;
	transform:scale(1.1);
}
  
  .slide__item {
	display: none;
	position: relative;
	overflow: hidden;
  }
  .slide__pagenumber {
	padding: 10px;
	border-radius: 80% 30% / 80% 50%;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	position: absolute;
	right: 0;
	z-index: 1;
  }
  .slide__content {
	position: absolute;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	padding: 0 10px;
	border-radius: 5px;
  }
  .slide__arrow {
	padding: 20px;
	position: absolute;
	line-height: 20px;
	font-size: 20px;
	text-decoration: none;
	color: white;
  }
  .slide__arrow:hover {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	color: white;
	cursor: pointer;
	transition: 0.6 ease;
  }
  .slide__arrow--prev {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
  }
  .slide__arrow--next {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
  }
  .slide__dot {
	padding: 5px 5px;
	display: flex;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
  }
  
  .dot {
	width: 15px;
	height: 15px;
	margin: 0 5px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.3);
  }
  
  .active,
  .dot:hover {
	background: rgba(255, 255, 255, 0.9);
  }
  
  .fades {
	animation: 1.5s fades;
  }
  @keyframes fades {
	from {
	  opacity: 0.4;
	}
	to {
	  opacity: 1;
	}
  }

/* .carousel{
	margin: 0 auto;
	width: 85%;
	height: 85%;
}
.pic{
	transform: scale(1,1);
	transition: scale 0.5s ease 0s;
}
.pic:hover{
	transform: scale(1.05,1.05);
	overflow: hidden;
} */
#contact{
	background-color: #fff;
	color: #333;
	text-align: center; 
	padding: 30px 0 80px; 
	font-family: 'Montserrat', sans-serif;	
}
/*cintact button*/

svg {
    overflow: hidden;
    vertical-align: middle;
}
.custom-btn {
	width: 200px;
	height: 200px;
	color: #fff;
	border-radius: 50%;
	padding: 10px 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer; /*改變滑鼠游標的形狀*/
	transition: all 0.3s ease; /*屬性 變化時間 變化方式*/
	position: relative;
	display: inline-block;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	7px 7px 20px 0px rgba(0,0,0,.1),
	4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
}
.btn-3 {
	background: rgb(0,172,238);
	background: linear-gradient(0deg, rgba(113, 183, 183, 1) 0%, rgba(197, 226, 226, 1) 100%); /*漸層色*/
	margin: 55px 15px;
	width: 200px;
	height: 200px;
	line-height: 200px;
	padding: 0;
	border: none;
}
.btn-3 a{
	text-decoration: none;
	color: #fff;
	font-size: 170%;
}
.btn-3 span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.btn-3:before,
.btn-3:after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	background: rgba(113, 183, 183,1);
	transition: all 0.3s ease;
}
.btn-3:before {
	height: 0%;
	width: 2px;
}
.btn-3:after {
	width: 0%;
	height: 2px;
}
.btn-3:hover{
	background: transparent;
	box-shadow: none;
}
.btn-3:hover:before {
	height: 100%;
}
.btn-3:hover:after {
	width: 100%;
}
.btn-3 span:hover{
	color: rgba(113, 183, 183,1);
}
.btn-3 span:before,
.btn-3 span:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	background: rgba(113, 183, 183,1);
	transition: all 0.3s ease;
}
.btn-3 span:before {
	width: 2px;
	height: 0%;
}
.btn-3 span:after {
	width: 0%;
	height: 2px;
}
.btn-3 span:hover:before {
	height: 100%;
}
.btn-3 span:hover:after {
	width: 100%;
}

/* TOP按鈕 */
.back-top {
	z-index: 99999;
  position: fixed;
	bottom: 10px;
   right: 10px;
   cursor: pointer;
	opacity: 1;
	filter: Alpha(opacity=50);
	width: 50px;
	height: 50px;
   background:#84C1FF;
	background-size: 24px 24px;
	color:#FFFFFF;
	border-radius:50%;
	transform: translateY(0%);
	transition: all 0.2s linear;
	text-align:center;
	line-height:50px;
}
.back-top:hover {
  background-color:#D9B3B3;
	 transform:scale(1.2);
}
.back-top.hide {
	opacity: 0;
	transform: translateY(150%);
}
@media (max-width:1250px){
	.hide{
		display: none;
	}
	.list{
		flex-wrap: wrap;
	}
	.container1{
		padding-left: 0px;
		padding-right: 0px;
	}
	.mycard{
		width: 45%;
	}
	.name{
		font-size: 3.2rem;
	}
	.name1{
		font-size: 5.7rem;
	}
	.me{
		width: 40%;
		height: 40%;
	}
	.btn-3 {
		width: 160px;
		height: 160px;
		line-height: 160px;
	}
	.btn-3 a{
		font-size: 125%;
	}
	.bi{
		width: 25px;
		height: 25px;
	}
}
@media (max-width:1000px){
	.desktop_menu{
		display: none;
	}
	.mobile_menu{
		display: block;
		right: 0;
	}

	.about{
		font-size: 21px;
	}
}
@media (max-width:880px){
	.me{
		width: 80%;
		height: 80%;
	}
	.me:hover{
		border-radius: 50%;
		box-shadow: 2px 20px 30px rgba(0,0,0,0.5);
	}
	.forabout{
		display: block;
	}
}
@media (max-width:640px){
	.mycard{
		width: 100%;
	}
	.name{
		font-size: 2.5rem;
	}
	.name1{
		font-size: 4rem;
	}
	.myname a{
		font-size: 210%;
	}
	.menu{
		width: 90%;
	}
	.btn-3 {
		width: 120px;
		height: 120px;
		line-height: 120px;
		margin: 50px 5px;
	}
	.btn-3 a{
		font-size: 90%;
	}
	.bi{
		width: 20px;
		height: 20px;
	}
}
@media (max-width:460px){
	.name{
		font-size: 1.9rem;
	}
	.name1{
		font-size: 3.2rem;
	}

	.about{
		font-size: 18px;
	}
	.btn-3 {
		width: 85px;
		height: 85px;
		line-height: 85px;
	}
	.btn-3 a{
		font-size: 75%;
	}
	.bi{
		width: 15px;
		height: 15px;
	}
}