@charset "utf-8";
html, body{
	margin: 0;
	text-size-adjust: 100%;
}
body{
	font-family: 'Lato', sans-serif;
	font-weight: 300; /*字型粗細*/
	line-height: 1.5; /*行高*/
	color: #333; /*字型顏色*/
}
ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
h1{
	display: block;
	text-transform: uppercase; /*文字字母的大小寫*/
	font-size: 2em; /*字型大小*/
	font-weight: 400; 
	padding-top: 260px; /*框線內側上邊界*/
	position: relative;
}
h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 0.8;
}
header{
	background-attachment: fixed; /*背景不滾動*/
	background-image: url(img/bg.jpg);
	background-size: cover; 
	color: #333;
	text-align: center; /*對齊方式*/
	padding: 30px 0 200px; /*框線內側邊界 上 左右 下*/
	font-family: 'Montserrat', sans-serif;	
	overflow: hidden;
}

.myname{
	border: none;
	background: none;
	float: left;
	margin: 0 0 0 20px; /*上、右邊、下、左邊*/
}
.myname a{
	display: block;
	font-size: 250%;
	color: #333;
	font-family: 'Caveat', sans-serif;
}
.desktop_menu{
	position: fixed;
	left: 0;
	right: 0;
	height: 70px;
	z-index: 2100;
	text-align: center;
	display: block;
}
.mobile_menu{
	position: fixed;
	text-align: right;
	display: none;
}
.menu{
	display: flex;
	float: right;
	line-height: 51px;
}
.menu li{
	flex: none;
	position: relative; 
	display: table-cell; 
	padding: 0;
}
.menu a{
	color: #333;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-family: 'Montserrat', sans-serif;	
	display: inline-block;
	padding: 0 20px;
	position: relative;
}
.menu a:after{
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #0066CC;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.menu a:hover:after{
	width: 100%; 
	left: 0;
}
.name{
	display: block;
    font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: 10px;
	animation: trans 1s ease;
}
.name1{
	display: block;
    font-weight: 550;
    font-size: 6rem;
    letter-spacing: 20px;
    word-spacing: 30px;
	animation: trans1 2s ease;
}
@-webkit-keyframes trans{
	0%{
		opacity: 0;
	    transform: translateX(-110px);
	}
	100%{ 
		opacity: 1;
		transform: translate(0px);
	}
}
@-webkit-keyframes trans1{
	0%{
		opacity: 0;
		transform: translateX(100px);
	}
	100%{
		opacity: 1;
		transform: translate(0px);
	}
}
#aboutme{
	background-color: #fff; 
	color: #333;
	text-align: center; 
	padding: 30px 0 320px; 
	font-family: 'Montserrat', sans-serif;	
}
.forabout{
	display: flex;
	align-items:center;
}
.me{
	border-radius: 50%;
 	transition: border-radius 0.5s ease 0s;
}
.me:hover{
	border-radius: 10%;
	transition: border-radius 0.5s ease 0s;
}
.about{
	text-align: left;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}
#skills{
	background-attachment: fixed;
	background-image: linear-gradient(to right bottom, rgba(150, 202, 202, 0.8), rgba(210, 233, 233, 0.8)), url(img/laptop.jpg);
	background-color: #fff;
	background-size: cover; 
	color: #333;
	text-align: center; 
	padding: 30px 0 230px; 
	font-family: 'Montserrat', sans-serif;	
}
.list{
	display: flex;
	justify-content: center;
	margin-top: 110px;
}
.mycard{
	flex: none;
	width: 280px;
	margin: 15px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.header{
	padding: 10px;
	font-size: 18px;
	background-color: #E8FFF5;
	border-radius: 10px 10px 0 0;
}
.text{
	padding: 28px;
}

.pic{
	transform: scale(1,1);
	transition: scale 0.5s ease 0s;
}
.pic:hover{
	transform: scale(1.1,1.1);
	overflow: hidden;
}
#portfolio{
	background-color: #fff;
	color: #333;
	text-align: center; 
	padding: 30px 0 80px; 
	font-family: 'Montserrat', sans-serif;	
}
#contact{
	background-color: #fff;
	color: #333;
	text-align: center; 
	padding: 30px 0 80px; 
	font-family: 'Montserrat', sans-serif;	
}
/*cintact button*/
.custom-btn {
	width: 200px;
	height: 200px;
	color: #fff;
	border-radius: 50%;
	padding: 10px 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer; /*改變滑鼠游標的形狀*/
	transition: all 0.3s ease; /*屬性 變化時間 變化方式*/
	position: relative;
	display: inline-block;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	7px 7px 20px 0px rgba(0,0,0,.1),
	4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
}
.btn-3 {
	background: rgb(0,172,238);
	background: linear-gradient(0deg, rgba(113, 183, 183, 1) 0%, rgba(197, 226, 226, 1) 100%); /*漸層色*/
	margin: 50px 15px;
	width: 200px;
	height: 200px;
	line-height: 200px;
	padding: 0;
	border: none;
}
.btn-3 a{
	color: #fff;
	font-size: 180%;
}
.btn-3 span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.btn-3:before,
.btn-3:after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	background: rgba(113, 183, 183,1);
	transition: all 0.3s ease;
}
.btn-3:before {
	height: 0%;
	width: 2px;
}
.btn-3:after {
	width: 0%;
	height: 2px;
}
.btn-3:hover{
	background: transparent;
	box-shadow: none;
}
.btn-3:hover:before {
	height: 100%;
}
.btn-3:hover:after {
	width: 100%;
}
.btn-3 span:hover{
	color: rgba(113, 183, 183,1);
}
.btn-3 span:before,
.btn-3 span:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	background: rgba(113, 183, 183,1);
	transition: all 0.3s ease;
}
.btn-3 span:before {
	width: 2px;
	height: 0%;
}
.btn-3 span:after {
	width: 0%;
	height: 2px;
}
.btn-3 span:hover:before {
	height: 100%;
}
.btn-3 span:hover:after {
	width: 100%;
}
@media (max-width:1250px){
	.list{
		flex-wrap: wrap;
	}
	.mycard{
		width: 45%;
	}
}
@media (max-width:600px){
	.desktop_menu{
		display: none;
	}
	.mobile_menu{
		display: block;
		right: 0;
	}
	.mycard{
		width: 90%;
	}
	.menu{
		width: 90%;
	}
}