@charset "utf-8";

body{
	background-color: #ECF5FF;
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 1700px 160px;
}
.menu li{
	list-style-type: none; /*項目符號樣式*/
	display: inline-block; 
	width: 180px; 
	margin: 0 20px;
}
.menu a{
	display: block;
	padding: 10px;
	background: #005AB5;
	border-radius: 8px;
	color: #FFFFFF;
	font-size: 130%;
	text-decoration: none;
}
.menu a:hover{
	color: #FF7575;
	text-decoration: none;
}
.menu a:active{
	color: #FF5151;
	text-decoration: none;
}
#contents{
	width: 780x;
	margin: 40px auto;
	padding: 40px 80px;
	border: 1px solid #FF2D2D;
	background-color: #FFFFFF;
}
#contents > section + section{
	margin-top: 80px;
}
h1{
	width: 300px;
	border-radius: 50%;/*圓角半徑*/
	text-shadow: 1px 1px 2px #6C6C6C; /*文字陰影*/ /*x位移 y位移 模糊強度 陰影色*/
	box-shadow: 2px 2px 10px #000000; /*外框陰影*/
	background-image: linear-gradient(to bottom,#005AB5,#46A3FF);/*背景漸層色*/
	font-family: 'Lora', serif;/*字體*/
	margin: 40px auto; /*框線外側邊界*/
	padding: 40px; /*框線內側邊界*/
	border: 5px solid #ACD6FF; /*框線*/
	color: #FFFFFF; /*文字的顏色*/
	font-size: 300%; /*字型大小*/
	text-align: center; /*對齊方式*/
	line-height: 1; /*行高*/
}
h2{
	padding: 10px; /*框線內側邊界*/
	margin-bottom: 30px;
	border: 1px dotted 	#2894FF; /*框線*/
	border-left: 10px solid #2894FF; /*左側框線*/
	color: #004B97; /*文字的顏色*/
	font-size: 150%; /*字型大小*/
	text-align: left; /*對齊方式*/
	line-height: 1; /*行高*/
}
h3{
	margin-left: 10px;
	margin-bottom: 10px;
	color: #004B97; /*文字的顏色*/
	font-size: 180%; /*字型大小*/
	text-align: left; /*對齊方式*/
}
.about{
	text-align: left;
}
.intr2D{
	text-align: left;
}
.intr3D{
	text-align: left;
}
.sketchfab-embed-wrapper{
	
}
.imgme{
	border-radius: 50%;/*圓角半徑*/
	float: left;
	margin-right: 50px;
	margin-left: 100px;
}
.email{
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 2px;
}
header,nav{
	text-align: center;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}